.textoHistoria {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.historialeft {
  justify-content: left;
  text-align: left;
}
.historiaright{
  justify-content: right;
  text-align: right;
}
.formularioHistoria {
  padding: 10%;
}