.textoHistoria {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.formularioHistoria {
  padding: 10%;
  .historialeft {
    @include formateotextos(left,left);
  }
  .historiaright{
    @include formateotextos(right,right);
  }
}