.formularioContacto,
.formularioServicios {
  @include tamaños (80%,80%);
  justify-content: center;
  padding: 10%;
}
.mainHistoria,
.mainServicios {
  display: flex;
  justify-content: center;
  text-align: center;
  @include tamaños (100%,750px);
}
.regalo{
  @include tamaños (50%,auto);
}
