@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap");
@import "./index";
@import "./contacto";
@import "./footer";
@import "./productos";
@import "./historia";
@import "./servicios";
@import "./navbar";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
$naranja: rgb(192, 118, 6);
$blanco: white;
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: $blanco;
  max-height: 100%;
  width: 100%;
}
h2 {
  font-size: 32px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: $naranja;
}



